<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
        window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    </script>
<% end %>
<script type="text/javascript">
  window.images = {
    tab_logo: "<%= asset_path('bmw-logo.jpg')%>",
    splash_banner_logo: "<%= asset_path('banner-bimmers.jpg')%>"
    
  }
</script>
<main id="root">BIMMERS PERFORMANCE HOME-ROOT</main>