// Place all the styles related to the api/home pages here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .home-master-container-div {
//     background-color: #2b2a2a;
//     height: 100%;
//     display: flex;
//     // display: block;
//     position: absolute;
//     width: 100%;
//     // justify-content: center;
//     align-items: center;
// }

.greeting-container {
    display: flex;
    justify-content: center;
}

.log-out-button-container {
    display: flex;
    justify-content: flex-end;
}