// Place all the styles related to the api/services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Service Form CSS
.new-service-page-div {
  position: absolute;
  top: 218px;
  left: 160px;
  // background-color: lightseagreen;
  background-color: white;
  width: 88.8%;
  min-height: 500px;
  border: 1px solid black;
}

.service-form-container-div {
  position: relative;
  //   left: calc(100%-50px);
  left: 15%;
  border: 2px solid rgb(51, 51, 51);
  margin: 20px 0 20px 0;
  width: 900px;
  border-radius: 26px;
  background: rgb(233, 239, 254);
  min-height: 600px;
  min-width: 500px;
}

.services-business-info {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    position: relative;
    margin: 25px 0 25px 25px;
    height: 150px;
    width: 250px;
  }
}

.business-info {
  position: relative;
  margin: 25px 0 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 450px;
  border: 1px solid grey;
  text-align: center;
}

.licenses {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  h6 {
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .new-service-page-div {
    width: 91.6%;
  }
  .service-form-container-div {
    width: 81.8%;
    left: 155px;
  }

  .services-business-info {
    position: relative;
  }
}
