// Place all the styles related to the api/services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Service Form CSS
.service-form-div {
  position: absolute;
  top: 218px;
  left: 160px;
  // background-color: lightseagreen;
  background-color: white;
  width: 88.8%;
  height: 500px;
  border: 1px solid black;
}
