// Place all the styles related to the api/Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-form-container, .home-master-container-div {
    background-color: #2b2a2a;
    height: 100%;
    display: flex;
    // display: block;
    position: absolute;
    width: 100%;
    // justify-content: center;
    align-items: center;
}

.login-form-inner-div {
    height: 50%;
    width: 40%;
    background-color: grey;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 425px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.login-form {
    position: relative;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.site-banner-login {
    width: 100%;
    height: 35%;
    position: relative;
    top: -30px;
    border-radius: 10px;
}

.form-entries {
    display: block;
    font-family: Georgia,"Bitstream Charter",serif;
}

.large-log-inbutton {
  padding: 12px 30px;
  text-transform: uppercase;
}

.large-log-inbutton:active{
  top: 2px;
}