/* line 9, /Users/jonnatanortiz/Desktop/bimmers_performance/app/assets/stylesheets/base/reset.scss */
div {
  display: auto;
}

/* line 12, /Users/jonnatanortiz/Desktop/bimmers_performance/app/assets/stylesheets/base/reset.scss */
body {
  margin: 0;
  background: #303030;
}

/* line 16, /Users/jonnatanortiz/Desktop/bimmers_performance/app/assets/stylesheets/base/reset.scss */
html, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

/* line 34, /Users/jonnatanortiz/Desktop/bimmers_performance/app/assets/stylesheets/base/reset.scss */
ul {
  list-style: none;
  padding: 0 auto;
}

/* line 39, /Users/jonnatanortiz/Desktop/bimmers_performance/app/assets/stylesheets/base/reset.scss */
img {
  display: block;
  height: auto;
}

/* Clearfix */
