
.splash-nav-container {
    height: 35px;
    // border: 1px solid pink;
}

.splash-nav-main-div {
    // width: 96.8%; if not working revert back to this
    // left: 54px;
    width: 87%;
    position: absolute;
    top: 115px;
    left: 70px;
    background-color: #069;
    max-height: 34px;
}



.splash-nav-ul {
    min-width: 90%;
    display: block;
    float: left;
    margin: 0 0 3em 1em;
    padding: 0;
    list-style: none;
}

.splash-nav-ul li {
    float: left;
    margin-left: 1em;
    &.active {
        background: grey;
    }
}

.splash-nav-ul li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    
    color: white;
}
.splash-nav-ul li a:hover {
    background: grey;
    // -webkit-filter: brightness(50%);
   
}


.top-nav-container {
    background-color: #aaacaf;
    // width: 70%;
    // display: flex;
    // justify-content: center;
}

/* Dropdown Buttons/menu */
.dropbutton {
//   background-color: #4CAF50;
  background-color: #bec4cc;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-button-container {
  position: relative;
  display: inline-block;
  width: 150px;
  border-right: 1px solid black;
  button {
        font-size: 20px;
  }
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-button-container:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-button-container:hover .dropbutton {background-color: #ddd;}

.top-nav-divider {
    height:50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    h1 {
        margin-top: 8px;
    }
}

.side-nav-container {
    background-color: #aaacaf;
    width: 11%;
    height: 500px;
    // position: absolute;
}

/* The sidebar menu */
.side-nav-inner-div {
    //   height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 11%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
//   z-index: 1; /* Stay on top */
    //   top: 0; /* Stay at the top */
  left: 0;
  background-color: #aaacaf; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

/* The navigation menu links */
.side-nav-inner-div a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  border-bottom: 1px solid black;
}

/* When you mouse over the navigation links, change their color */
.side-nav-inner-div a:hover {
  background-color: #ddd;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
//   .side-nav-inner-div {padding-top: 15px;}
  .side-nav-inner-div a {font-size: 18px;}
}

@media (min-width: 1600px) {
    .splash-nav-main-div {
        width: 90%;
        height: 100px;
        top: 115px;
        left: 52.5px;
        background-color: #069;
    }

    .side-nav-container, .side-nav-inner-div {
        width: 8%;
    }
}