.splash-page-main-div {
    background-color: #999;
    border: 5px solid green;
    max-width: 75%;
    // min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    // overflow:auto; 
}
@media (min-width: 1600px) {
    .splash-page-main-div {
        max-width: 55%;
    }
}

.splash-body-div {
    min-height: 1000px;
    overflow: hidden;
    border: 2px solid purple;
}

.splash-body-left {
    border: 2px solid lime;
    width: 59%;
    height: 1000px;
    position: absolute;
    left: 70px // max-width: 640px;
        // max-height: 933px;
}

.splash-body-right {
    border: 2px solid lightseagreen;
    width: 300px;
    height: 1000px;
    position: absolute;
    right: 66px;
}

.hours-location-container {
    margin-top: 50px;
    overflow: hidden;
    width: 305px;
    float: right;
    font-family: Georgia,"Bitstream Charter",serif;
}

.hours-location-hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-bottom: 15px;
}

.splash-right-textwidget-strong,
.splash-right-textwidget-strong-days {
    color: black;
    // line-height: 25px;
}

.splash-right-textwidget-strong-days {
    line-height: 25px;
}

.widget-container {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    margin: 0 0 18px 0;
}
.shuttle-img {
    max-width: 100%;
    height: auto;
}
.widget-container .wp-caption img {
    margin: auto;
}

// .widget-container img {
//     max-width: 100%;
//     /* When images are too wide for containing element, force them to fit. */
//     height: auto;
//     /* Override height to match resized width for correct aspect ratio. */
// }


.widget-title {
    color: #222;
    font-weight: bold;
    margin-bottom: 0;
    // color: #666;
    font-size: 15px;
    line-height: 18px;
}

.widget-title,
.wp-caption-text {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.splash-page-home-div {
    // min-height: 800px; 
    //cannot set determined height in this div.
    //keep in .splash-body-div to mantain grey background height(.splash-page-main-div)
    width: 95%;
    position: relative;
    top: 35px;
    left: 30px;
    background-color: transparent;
    border: 1px solid red;

    p {
        margin-bottom: 24px;
    }
}


@media (min-width: 1600px) {

    
    .splash-body-left {
        width: 60%;
        left: 53px
    }
    
    
    .splash-body-right {
        width: 29.3%;
        // height: 1000px;
        // position: absolute;
        right: 54px;
    }

    .splash-page-home-div {
        width: 95%;
        top: 35px;
        // left: 52.5px;
        border: 1px solid red;
    }
}



.logo-inbody-container-div {
    border: 2px solid pink;
}

.slideshow-container {
   img {
    // width: 640px;
    width: 600px;
    height: 265px;;   
   } 
}

.splash-home-business-intro {
    color: #000000;
    font-family: Tahoma,
        tahoma-w01-regular,
        tahoma-w02-regular,
        tahoma-w10-regular,
        tahoma-w15--regular,
        tahoma-w99-regular,
        sans-serif;
    line-height: 20.8px
}

.splash-home-business-intro-2 {
    color: black;
    font-family: Tahoma,sans-serif;
    line-height: 1.5;
}

.cars-logo-centered {
    // display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
}
.temp-car {
    margin: 50px 0 30px;
    img {
        width: 100%;
    }
}

.splash-page-main-div-hr {
    // border-width: 2.5px;
    height: 5px;
    border-width: 0;
    color: black;
    background-color: black;
    width: 87%;
}